.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  background: darkgray;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 30px;

  .linksList{
    display: flex;
    justify-content: space-evenly;
    width: 400px;
  }
}