* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}
a:hover{
    color: aqua;
}

.container {
    text-align: center;
    padding-bottom: 60px;
}
.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
button{
    text-decoration: none;
    font-size: 20px;
    background: burlywood;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}
button:hover{
    background: #eecfae;
}
input{
    text-decoration: none;
    font-size: 20px;
    background: burlywood;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
}
input:hover{
    background: #eecfae;
}
